.reviews{
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    padding: 3.125rem 5.625rem;
}

.reviews-header{
    margin-left: 5.625rem;
    margin-top: 1.875rem;
}

.reviews-header h1{
    margin-bottom: 2.5rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.carousel{
    margin-top: 1.25rem;
}

.carousel-indicators [data-bs-target]{
    background-color: #fc540d;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%; 
}

.carousel-indicators .active{
    background-color: #fc540d;
}

.carousel-control-prev,
.carousel-control-next{
    display: none;
}

.opinion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.contenedor-opiniones{
    background-size: cover;
    background-position: center;
    padding: 1.25rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.imagen-perfil{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 1.25rem;
}

.informacion-persona{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre-persona-opinion{
    font-weight: bold;
    margin-bottom: 0.3125rem;
}

.ocupacion-persona-opinion{
    font-style: italic;
    margin-bottom: 0.9375rem;
}

.texto-opinion{
    font-family: 'Helvetica';
    font-size: 0.875rem;
    color: #555;
    max-width: 37.5rem;
    margin-bottom: 3.125rem;
}

