.hero{
    background-color: #efdfd2;
    padding-top: 2rem;
}

.nombre-apellido{
    color: #fc540d;
    text-align: center;
    font-family: Arial;
    font-size: 2.5rem;
    margin-top: 1.875rem;
    font-weight: bold;
}

.desarrollador-nombre{
    color: #030301;
    text-align: center;
    font-family: Arial;
    font-size: 2.5rem;
    font-weight: bold;
}

.redes{
    text-align: center;
    word-spacing: 0.625rem;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 3.125rem;
    text-decoration: none;
}

.nav-link-hero{
    color: #030301;
    font-size: 0.75rem;
    text-decoration: none;
    position: relative;
    margin: 0 0.625rem;
}

.imagen-flecha{
    width: 1.125rem;
    transform: translate(-0.625rem, -0.063rem);
}

.contenedor-presentacion{
    height: auto;
    padding: 3.125rem 0.625rem;
    margin-left: -7.5rem;
    margin-right: 7.5rem;
    /* width: 100%; */
    width: 88.125rem;
}

.mi-presentacion{
    flex: 1;
    margin-top: 5rem;
    /* margin-left: -10px; */
    padding: 0;
    width: 100%;
}

.mi-presentacion p{
    max-width: 21.875rem;
    color: #87878c;
    font-family: sans-serif;
    font-size: 1.125rem;

}

.boton-contratame{
    background-color: #fc540d;
    color: #fffdf4;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Helvetica';
    font-weight: bold;
    transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
}

.boton-contratame:hover{
    background-color: #fffdf4;
    color: #fc540d;
    border: 0.125rem solid #fc540d;
}

.imagen-flecha-boton{
    width: 0.9375rem;
    transform: translate(0.3125rem, -0.0625rem);
}

.foto-perfil-flexbox{
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
    padding-left: 7.625rem;
    /* margin-left: 240px; */
}

.foto-perfil{
    outline: 0.125rem solid #fc540d;
    outline-offset: 0.4375rem;
    border-radius: 50%;
    width: 37.5rem;
    height: 37.5rem;
    /* width: 100%;
    height: auto; */
}

.contenedor-info{
    flex: 1;
    margin-top: 4.95rem;
    /* width: 0; */
    margin-left: 6.25rem;
}

.info-item{
    margin-left: 1.875rem;
}

.info-numero{
    font-family: Helvetica;
    font-size: 3.75rem;
    font-weight: bold;
    margin-bottom: 0.3125rem;
}

.info-texto{
    margin-left: 1.875rem;
    font-family: Helvetica;
    font-size: 0.75rem;
    font-weight: bold;
}

.contenedor-puntuacion{
    width: 18.75rem;
    /* height: 11.25rem; */
    /* position: relative; */
    bottom: 11.25rem;
    /* padding: 0.625rem 0.625rem; */
    margin-top: 1.10rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}

.imagen-clutch img{
    width: 5.625rem;
    height: auto;
    margin-bottom: -1.5625rem;
}

.imagen-estrella img{
    width: 1.375rem;
    height: auto;
    margin-bottom: 0.3125rem;
}

.opinion-texto{
    margin-top: -0.0625rem;
}

.opinion-texto p{
    color: #87878c;
    font-family: Helvetica;
    font-size: 0.9375rem;
}

@media (max-width: 480px) {
    .nombre-apellido, .desarrollador-nombre{
        font-size: 1.5rem;
    }

    .redes{
        font-size: 0.65rem;
        line-height: 2rem;
    }

    .nav-link-hero{
        margin: 0 0.5rem;
    }

    .imagen-flecha{
        width: 1rem;
    }

    .contenedor-presentacion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mi-presentacion{
        padding: 0 1rem;
        width: 100%;
        margin-top: -0.625rem;
    }

    .mi-presentacion p{
        font-size: 1rem;
    }

    .boton-contratame{
        padding: 0.063rem 0.188rem;
    }

    .contenedor-presentacion{
        height: auto;
        margin-left: 1.8rem;
        margin-right: 1.8rem;
        width: 85%;       
    }

    .foto-perfil-flexbox{
        margin-top: -37.125rem;
        margin-bottom: 0;
        padding-left: 0;
    }

    .foto-perfil{
         visibility: hidden;
    }

    .contenedor-info{
        padding-right: 3.125rem;
        margin-right: 5.625rem;
        width: 100%;
        margin-top: 0.625rem;
        margin-bottom: 0;
    }

    .info-numero{
        font-size: 2.5rem;
    }

    .info-texto{
        font-size: 0.65rem;
    }

    .contenedor-puntuacion{
        visibility: hidden;
        margin-top: -11.10rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .nombre-apellido, .desarrollador-nombre{
        font-size: 2rem;
    }

    .redes{
        font-size: 0.7rem;
        line-height: 2.5rem;
    }

    .nav-link-hero{
        margin: 0 0.75rem;
    }

    .imagen-flecha{
        width: 1.125rem;
    }

    .contenedor-presentacion{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mi-presentacion{
        padding: 0 2.3rem;
        width: 100%;
        margin-top: -0.625rem;
    }

    .mi-presentacion p{
        font-size: 1.125rem;
    }

    .boton-contratame{
        padding: 0.063rem 0.188rem;
    }

    .contenedor-presentacion{
        height: auto;
        margin-left: 1.8rem;
        margin-right: 1.8rem;
        width: 85%;       
    }

    .foto-perfil-flexbox{
        /* margin-top: 3.125rem; */
        margin-top: -39.125rem;
        margin-bottom: 0;
        padding-left: 0;
    }

    .foto-perfil{
        visibility: hidden;
    }

    .contenedor-info{
        padding-right: 3.125rem;
        margin-right: 5.625rem;
        width: 100%;
        margin-top: 2.925rem;
    }

    .info-numero{
        font-size: 2.5rem;
    }

    .info-texto{
        font-size: 0.65rem;
    }

    .contenedor-puntuacion{
        visibility: hidden;
        margin-top: -11.10rem;  
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nombre-apellido, .desarrollador-nombre{
        font-size: 2.2rem;
    }

    .redes{
        font-size: 0.75rem;
        line-height: 2.8rem;
    }

    .nav-link-hero{
        margin: 0 0.75rem;
    }

    .imagen-flecha{
        width: 1.125rem;
    }

    .mi-presentacion{
        padding: 0 2rem;
        width: 100%;
    }

    .mi-presentacion p{
        font-size: 1.2rem;
    }

    .boton-contratame{
        padding: 0.063rem 0.188rem;
    }

    .contenedor-presentacion{
        height: auto;
        margin-left: 2rem;
        margin-right: 2rem;
        width: 95%;       
    }

    .foto-perfil{
        width: 100%;
        max-width: 23rem;
        max-height: 23rem;
        border-radius: 50%;
    }

    .info-numero{
        font-size: 3.1rem;
    }

    .info-texto{
        font-size: 0.65rem;
    }

    .contenedor-puntuacion {
        max-width: 100%;
    }
}

@media (min-width: 1025px) and (max-width:1400px) {
    .nombre-apellido, .desarrollador-nombre{
        font-size: 2.5rem;
    }

    .redes{
        font-size: 0.75rem;
        line-height: 3.125rem;
    }

    .nav-link-hero{
        margin: 0 0.625rem;
    }

    .imagen-flecha{
        width: 1.125rem;
    }

    .mi-presentacion{
        padding: 0 3rem;
        width: 100%;
    }

    .mi-presentacion p{
        font-size: 1.125rem;
    }

    .boton-contratame{
        padding: 0.625rem 1.25rem;
    }

    .contenedor-presentacion{
        height: auto;
        margin-left: 0;
        margin-right: 2.5rem;
    }

    .foto-perfil-flexbox{
        margin-top: 3.125rem;
        margin-bottom: 1.875rem;
        padding-left: 0;
    }

    .mi-presentacion{
        flex: 1;
        margin-top: 5rem;
        padding: 0;
        width: 100%;   
    }

    .foto-perfil{
        width: 100%;
        max-width: 23rem;
        max-height: 23rem;
        border-radius: 50%;
    }

    .info-numero{
        font-size: 3.75rem;
    }

    .info-texto{
        font-size: 0.75rem;
    }

    .contenedor-puntuacion{
        max-width: 18.75rem;
        border: 1px solid red;
        margin-left: 0;
    }
}
