.works{
    background-color: #f4eae1;
    font-family: 'Courier New', Courier, monospace;
    padding: 3.125rem 0;
}

.trabajos-header{
    /* align-self: flex-start; */
    margin-bottom: 1.25rem;
    width: 40%;
    margin-left: -7.5rem;
    margin-right: -7.5rem;
    height: auto;
    padding-top: 3.125rem;
}

.trabajos-header h1{
    margin-bottom: 2.5rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.imagenes-trabajos-caja{
    background-size: cover;
    background-position: center;
    padding: 0.625rem;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.imagenes-trabajos-caja img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.boton-trabajos{
    background-color: #fc540d;
    color: #fffdf4;
    border: none;
    /* display: block; */
    margin: 1.25rem auto 0;
    padding: 0.625rem 1.25rem;
    font-size: 0.9375rem;
    cursor: pointer;
    font-family: 'Helvetica';
    font-weight: bold;
    transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
}

.boton-trabajos:hover{
    background-color: #fffdf4;
    color: #fc540d;
    border: 0.125rem solid #fc540d;
}

.imagen-flecha-boton-trabajos{
    width: 0.9375rem;
    transform: translate(-0.3125rem, 0.0625rem);
}

@media (max-width: 480px) {
    .works{
        padding: 1.5rem;
    }

    .trabajos-header{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-top: 1.5rem;
    }

    .trabajos-header h1{
        font-size: 1.5em;
    }

    .caja-imagen{
        width: 50%;
        margin-left: 6.25rem;
    }

    .imagenes-trabajos-caja{
        width: 100%;
        padding: 0.5rem;
    }

    .imagenes-trabajos-caja img{
        width: 100%;
    }

    .boton-trabajos{
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }

    .imagen-flecha-boton-trabajos{
        width: 0.75rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .works {
        padding: 1.5rem;
    }

    .trabajos-header{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-top: 2rem;
    }

    .trabajos-header h1{
        font-size: 1.75em;
    }

    .caja-imagen{
        width: 80%;
        margin-left: 3.125rem;
    }

    .imagenes-trabajos-caja{
        padding: 0.5rem;
    }

    .imagenes-trabajos-caja img{
        width: 100%;
    }

    .boton-trabajos{
        padding: 0.625rem 1.25rem;
        font-size: 0.9375rem;
    }

    .imagen-flecha-boton-trabajos{
        width: 0.875rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .works {
        padding: 2.5rem;
    }

    .trabajos-header{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-top: 2.5rem;
        margin-left: -2rem;

    }

    .trabajos-header h1{
        font-size: 2em;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .works{
        padding: 3rem;
    }

    .trabajos-header{
        width: 100%;
        margin-left: -1rem;
        margin-right: -4rem;
        padding-top: 3rem;
    }

    .trabajos-header h1{
        font-size: 2.25em;
    }
}

@media (min-width: 1401px) and (max-width:1545px) {
    .trabajos-header{
        width: 100%;
        margin-left: -0.01rem;
        margin-right: -4rem;
        padding-top: 3rem;
    }
}
