.novedades{
    background-color: #f4eae1;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px 0;
}

.novedades-header{
    align-self: flex-start;
    margin-bottom: 20px;
    width: 30%;
    height: auto;
    margin-top: 50px;
    margin-left: 144px;   
}

.novedades-header h1{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 165px;
}

.card-custom{
    background-color: #f4eae1;
    border-color: #f4eae1;;
    width: 30%;
}    

.imagen-novedad{
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-novedad img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body p{
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}