.novedades{
    background-color: #f4eae1;
    font-family: 'Courier New', Courier, monospace;
}

.novedades-header{
    align-self: flex-start;
    margin-bottom: 1.25rem;
    width: 40%;
    margin-left: -7.5rem;
    margin-right: -7.5rem;
    margin-top: 1.875rem;
    height: auto;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.novedades-header h1{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.card-container{
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
    width: 100%;
}

.card-custom{
    background-color: #f4eae1;
    border-color: #f4eae1;
    width:32%;
}

.imagen-novedad{
    height: 18.75rem;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.imagen-novedad img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-custom {
    background-color: #f4eae1;
    border-color: #f4eae1;
}

.card-body p{
    font-family: 'Helvetica';
    font-size: 0.8125rem;
    font-weight: bold;
    padding: 0.625rem;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .novedades-header {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
    }

    .novedades-header h1 {
        font-size: 1.5rem;
    }

    .card-custom {
        width: 100%;
        margin-bottom: 1rem;
    }

    .imagen-novedad {
        height: 15rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .novedades-header {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5rem;
    }

    .novedades-header h1 {
        font-size: 1.75rem;
    }

    .card-custom {
        width: 48%;
        margin-bottom: 1rem;
    }

    .imagen-novedad {
        height: 16rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .novedades-header {
        width: 80%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1.75rem;
    }

    .novedades-header h1 {
        font-size: 1.875rem;
    }

    .card-custom {
        width: 49%;
        margin-bottom: 1rem;
    }

    .imagen-novedad {
        height: 17rem;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .novedades{
        padding: 3rem;
    }

    .novedades-header{
        width: 100%;
        margin-left: 0.6rem;

        margin-right: -4rem;
        padding-top: 3rem;
    }

    .novedades-header h1{
        font-size: 2.25rem;
    }

    .card-custom{
        width: 32%;
    }

    .imagen-novedad{
        height: 18rem;
    }
}

@media (min-width: 1401px) and (max-width:1545px) {
    .novedades-header{
        width: 100%;
        margin-left: 0.1rem;
        margin-right: -4rem;
    }
}