footer{
    background-color: #fc5811;
    padding: 1.25rem;
    color: white;
}

.footer-header{
    margin-bottom: 1.25rem;
    margin-left: -7.5rem;
    margin-top: 1.875rem;
    height: auto;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.titulo-footer{
    padding-bottom: 1.875rem;
}

.icono-mensaje-ubicacion{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}

.info-contacto-titulo{
    font-family: "Noto Sans", sans-serif;
    font-size: 0.75rem;
    margin-bottom: 0;
}

.info-contacto-subtitulo{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 1.0625rem;
    margin-top: 0;
}

.saludo img{
    width: 1.875rem;
}

.saludo p{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

.boton-saludo{
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.boton-saludo img{
    width: 9.375rem;
    height: 9.375rem;
}

.boton-saludo:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
}

.boton-saludo:hover img{
    transform: scale(1.2);
}

.pie-pagina{
    margin-left: -8.25rem;
    height: auto;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.pie-pagina p, .email{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
}

.pie-pagina img{
    width: 0.875rem;
    height: auto;
}

.hr-tamanio{
    border: 0;
    height: 0.125rem;
    background-color: #fff;
    width: 50%;
    margin-bottom: 0.9375rem;
}

.hr-final{
    border: 0;
    height: 0.125rem;
    background-color: #fff;
    margin-left: -8.125rem;
}


