footer{
    background-color: #fc5811;
    padding: 1.25rem;
    color: white;
}

.footer-header{
    margin-bottom: 1.25rem;
    margin-left: -7.5rem;
    margin-top: 1.875rem;
    height: auto;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.titulo-footer{
    padding-bottom: 1.875rem;
}

.icono-mensaje-ubicacion{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
}

.info-contacto-titulo{
    font-family: "Noto Sans", sans-serif;
    font-size: 0.75rem;
    margin-bottom: 0;
}

.info-contacto-subtitulo{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 1.0625rem;
    margin-top: 0;
}

.saludo img{
    width: 1.875rem;
}

.saludo p{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

.boton-saludo{
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.boton-saludo img{
    width: 9.375rem;
    height: 9.375rem;
}

.boton-saludo:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
}

.boton-saludo:hover img{
    transform: scale(1.2);
}

.pie-pagina{
    margin-left: -8.25rem;
    height: auto;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.pie-pagina p, .email{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
}

.pie-pagina img{
    width: 0.875rem;
    height: auto;
}

.hr-tamanio{
    border: 0;
    height: 0.125rem;
    background-color: #fff;
    width: 50%;
    margin-bottom: 0.9375rem;
}

.hr-final{
    border: 0;
    height: 0.125rem;
    background-color: #fff;
    margin-left: -8.125rem;
}

@media (max-width: 480px) {
    .footer-header{
        margin-left: 0;
        margin-right: 0;
        text-align: start;
    }

    .titulo-footer{
        font-size: 1.5rem;
    }

    .boton-saludo{
        width: 4rem;
        height: 4rem;
    }

    .boton-saludo img{
        width: 4rem;
        height: 4rem;
        transform: translate(-5px, -1px);
    }

    .hr-tamanio{
        width: 75%;
    }

    .pie-pagina{
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        margin-top: -40px;
    }

    .pie-pagina p, .email{
        visibility: hidden;
    }

    .hr-final{
        margin-left: 0;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .footer-header{
        margin-left: 0;
        margin-right: 0;
        text-align: start;
    }

    .titulo-footer{
        font-size: 1.75rem;
    }

    .boton-saludo{
        width: 8rem;
        height: 8rem;
    }

    .boton-saludo img{
        width: 6rem;
        height: 6rem;
        transform: translate(1px, -1px);
    }

    .hr-tamanio{
        width: 61%;
    }

    .pie-pagina{
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        margin-top: -40px;
    }

    .pie-pagina p, .email{
        visibility: hidden;
    }

    .hr-final{
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer-header{
        margin-left: 0;
        margin-right: 0;
    }

    .titulo-footer{
        font-size: 2rem;
    }

    .pie-pagina{
        margin-left: 0;
        justify-content: space-between;
    }

    .hr-tamanio{
        width: 51%;
    }

    .pie-pagina p, .email{
        font-size: 0.875rem;
    }

    .hr-final{
        margin-left: 0;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .footer-header{
        margin-left: -1rem;
        margin-right: -4rem;
    }

    .titulo-footer{
        font-size: 2.25rem;
    }

    .pie-pagina{
        margin-left: -1.25rem;
        justify-content: space-between;
    }

    .pie-pagina p, .email{
        font-size: 1rem;
    }

    .hr-final{
        margin-left: -8.125rem;
    }
}

@media (min-width: 1401px) and (max-width:1545px) {
    .footer-header{
        margin-left: 0.5rem;
        margin-right: -3rem;
    }

    .pie-pagina{
        margin-left: 0.5rem;
        justify-content: space-between;
    }

    .hr-final{
        margin-left: -0.125rem;
    }
}